In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('c://Users//jonescy//Downloads/WHO-COVID-19-global-data.csv')
df.info()

In [ ]:
grouped = df.groupby(['Date_reported','Country_code'])

In [ ]:
# grouped.agg([np.max,np.sum])
df[df['Country_code']=='US']

In [ ]:
grouped.agg({'Cumulative_cases':[np.max,np.mean],'New_cases':np.sum,'New_deaths':np.sum})

In [ ]:
grouped.apply()

In [ ]:
grouped2 = df.groupby('Country_code')
grouped2

In [ ]:
country_count = grouped2['Country_code'].count()

In [ ]:
country_count['US']

In [ ]:
country_count['CN']

In [ ]:
df2  = df[df['Date_reported'] == '2020-09-16']

In [127]:
grouped.mean().transform(lambda x:x*2)

                            New_cases  Cumulative_cases  New_deaths  \
Date_reported Country_code
2020-01-04    CN                    2                 2           0
2020-01-05    CN                    0                 2           0
2020-01-06    CN                    6                 8           0
2020-01-07    CN                    0                 8           0
2020-01-08    CN                    0                 8           0
...                               ...               ...         ...
2020-09-16    YE                    6              4040           0
              YT                    0              7082           0
              ZA                 1544           1303042         284
              ZM                  198             27638           8
              ZW                   90             15152           0

                            Cumulative_deaths
Date_reported Country_code
2020-01-04    CN                            0
2020-01-05    CN                            0
2020-01-06    CN                            0
2020-01-07    CN                            0
2020-01-08    CN                            0
...                                       ...
2020-09-16    YE                         1168
              YT                           80
              ZA                        31282
              ZM                          648
              ZW                          448

[41838 rows x 4 columns]