In [17]:
import pymysql
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [18]:
def query(table):
    host = 'localhost'
    user = 'root'
    pwd = '1997'
    db = 'yst_populations'
    port = 3306
    conn = create_engine('mysql+pymysql://{}:{}@{}:{}/{}'.format(user,pwd,host,port,db))
    sql = 'select * from '+str(table)
    result = pd.read_sql_query(sql, conn)
    return result

In [21]:
df = query('total')

In [22]:
df

,HouseNum,HouseHost,HouseHostIDCardNum,HousehostHometown,AccountType,AccountNum,HomeAddress,MaritalStatus,SpouseName,SpouseIDNum,children1,IdCardNumChildren1,children2,IdCardNumChildren2,children3,IdCardNumChildren3,children4,IdCardNumChildren4
0,JT0627,卞宪伟,440122196805280357,广东省广州市,居民户口家庭户,010038026,广东省广州市从化区街口街镇北路4号505,已婚,朱春铃,440184199808210330,卞志雄,440184199808210330,,,,,,
1,WG0474,蔡国宾,44522419780228363X,广东省惠来县,居民户口家庭户,412000655,广东省惠来县西溪镇清屏管区新村五横巷9号之1,,,,,,,,,,,
2,JT0805,蔡明州,440526197404161818,广东省揭西县,居民户口家庭户,810050150,广东省揭西县龙潭镇井下村委东坑22号,,,,蔡锦军,445222200106201831,菜锦豪,445222200303281818,蔡苏香,440526196604301825,,
3,JJ0041,蔡亦章,440524196508316610,广东省潮阳市,居民户口家庭户,301047945,广东省汕头市潮阳区文光街道平东八公池片区B幢703房,,,,蔡少耿,440513199703102938,蔡少宜,440513199508203020,蔡炳坚,44058219931001661X,,
4,JJ0134,蔡玉梅,440106194004100345,广东省鹤山市,居民户口家庭户,000005087,广东省广州市天河区渔沙坦金鸡东大街南7号二楼,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2905,JJ0170,朱有梅,440106195708080383,广东省广州市,居民户口家庭户,226005031,广东省广州市天河区渔西路17号,丧偶,,,黄金明,440106199207270312,黄艳娟,440106198511160404,黄柳珍,440106198402080384,黄艳芳,440106199102040369
2906,SK0276,祝贺,440921197508233839,广东省信宜市,农业家庭户口,007945307,怀乡镇含沙六豆窝村2号,离异,,,祝荣扬,44098320041027381X,祝明星,440983200410273836,祝明月,440983200009083841,,
2907,LD0158-1,庄孟仑,445222197802160610,广东省揭西县,居民户口家庭户,000015120,广东省广州市天河区森心街19号2201房,已婚,庄莲芳,445222198004030621,庄欣,44522220000705061X,庄盈盈,445222200302050620,庄佳慧,445222200706110685,庄佳茹,445222200706110669
2908,JT0850,庄淑娟,44098219640618240X,广东省化州县,居民户口家庭户,101102712,广东省佛山市南海区桂城街道桂澜中路18号中海寰宇天下花园13座4501房,,,,黄骏斌,440982198911272333,,,,,,
2909,DB0095,邹国球,440923196905235115,广东省电白县,农业家庭户口,589757,观珠镇木师邹屋村,已婚,王玉媚,440923197307165166,邹王杰,440923199810235255,邹王健,440923200806145156,,,,

In [60]:
conn = create_engine('mysql+pymysql://root:1997@localhost:3306/yst_populations')
df1 = pd.read_csv(r'C:\Users\jonescy\OneDrive\文档\MySQL\polulations.csv',encoding='utf-8',sep=';')

In [28]:
try:
    df1.to_sql('populations',con=conn,index=False,if_exists='replace')

except:
    print('error')

In [31]:
df2 = pd.DataFrame({'id':[1,2,3,4,5],'name':['张三','李四','王二','丁一','赵五'],'age':[23,32,52,23,36],'gender':['M','F','M',"F",'M']})
df2

   id name  age gender
0   1   张三   23      M
1   2   李四   32      F
2   3   王二   52      M
3   4   丁一   23      F
4   5   赵五   36      M

In [33]:
df3 = pd.DataFrame({'Id':[1,2,2,4,5,6,7],'course':['三','四','二','一','五','六','七'],'score':[90,82,92,79,99,60,80]})
df3

   Id course  score
0   1      三     90
1   2      四     82
2   2      二     92
3   4      一     79
4   5      五     99
5   6      六     60
6   7      七     80

In [35]:
df4 = pd.DataFrame({'id':[1,5,3],'name':['张三','李四','王二'],'age':[23,29,30],'income':[1235213,1231231,1231231]})

In [39]:
merged = pd.concat([df2,df3],axis=1,join='outer')
merged

    id name   age gender  Id course  score
0  1.0   张三  23.0      M   1      三     90
1  2.0   李四  32.0      F   2      四     82
2  3.0   王二  52.0      M   2      二     92
3  4.0   丁一  23.0      F   4      一     79
4  5.0   赵五  36.0      M   5      五     99
5  NaN  NaN   NaN    NaN   6      六     60
6  NaN  NaN   NaN    NaN   7      七     80

In [44]:
merged1 = pd.concat([df2,df4],axis=0,join='outer',ignore_index=True)
merged1

   id name  age gender     income
0   1   张三   23      M        NaN
1   2   李四   32      F        NaN
2   3   王二   52      M        NaN
3   4   丁一   23      F        NaN
4   5   赵五   36      M        NaN
5   1   张三   23    NaN  1235213.0
6   5   李四   29    NaN  1231231.0
7   3   王二   30    NaN  1231231.0

In [49]:
pd.merge(left=df2,right=df3,how='inner',left_on='id',right_on='Id')

   id name  age gender  Id course  score
0   1   张三   23      M   1      三     90
1   2   李四   32      F   2      四     82
2   2   李四   32      F   2      二     92
3   4   丁一   23      F   4      一     79
4   5   赵五   36      M   5      五     99

In [74]:
order = pd.read_csv(r'C:\Users\jonescy\OneDrive\文档\MySQL\total.csv',sep=',',index_col=[0,1],)
order

,,HouseHostIDCardNum,HousehostHometown,AccountType,AccountNum,HomeAddress,MaritalStatus,SpouseName,SpouseIDNum,children1,IdCardNumChildren1,children2,IdCardNumChildren2,children3,IdCardNumChildren3,children4,IdCardNumChildren4
HouseNum,HouseHost,,,,,,,,,,,,,,,,
JT0627,卞宪伟,440122196805280357,广东省广州市,居民户口家庭户,10038026,广东省广州市从化区街口街镇北路4号505,已婚,朱春铃,440184199808210330,卞志雄,440184199808210330,,,,,,
WG0474,蔡国宾,44522419780228363X,广东省惠来县,居民户口家庭户,412000655,广东省惠来县西溪镇清屏管区新村五横巷9号之1,,,,,,,,,,,
JT0805,蔡明州,440526197404161818,广东省揭西县,居民户口家庭户,810050150,广东省揭西县龙潭镇井下村委东坑22号,,,,蔡锦军,445222200106201831,菜锦豪,445222200303281818,蔡苏香,440526196604301825,,
JJ0041,蔡亦章,440524196508316610,广东省潮阳市,居民户口家庭户,301047945,广东省汕头市潮阳区文光街道平东八公池片区B幢703房,,,,蔡少耿,440513199703102938,蔡少宜,440513199508203020,蔡炳坚,44058219931001661X,,
JJ0134,蔡玉梅,440106194004100345,广东省鹤山市,居民户口家庭户,5087,广东省广州市天河区渔沙坦金鸡东大街南7号二楼,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
JJ0170,朱有梅,440106195708080383,广东省广州市,居民户口家庭户,226005031,广东省广州市天河区渔西路17号,丧偶,,,黄金明,440106199207270312,黄艳娟,440106198511160404,黄柳珍,440106198402080384,黄艳芳,440106199102040369
SK0276,祝贺,440921197508233839,广东省信宜市,农业家庭户口,7945307,怀乡镇含沙六豆窝村2号,离异,,,祝荣扬,44098320041027381X,祝明星,440983200410273836,祝明月,440983200009083841,,
LD0158-1,庄孟仑,445222197802160610,广东省揭西县,居民户口家庭户,15120,广东省广州市天河区森心街19号2201房,已婚,庄莲芳,445222198004030621,庄欣,44522220000705061X,庄盈盈,445222200302050620,庄佳慧,445222200706110685,庄佳茹,445222200706110669
JT0850,庄淑娟,44098219640618240X,广东省化州县,居民户口家庭户,101102712,广东省佛山市南海区桂城街道桂澜中路18号中海寰宇天下花园13座4501房,,,,黄骏斌,440982198911272333,,,,,,
DB0095,邹国球,440923196905235115,广东省电白县,农业家庭户口,589757,观珠镇木师邹屋村,已婚,王玉媚,440923197307165166,邹王杰,440923199810235255,邹王健,440923200806145156,,,,

In [68]:
order.index.names

FrozenList(['ID', 'Name'])

In [81]:
order.loc['JJ0134'].loc[['黄杰远']]

,HouseHostIDCardNum,HousehostHometown,AccountType,AccountNum,HomeAddress,MaritalStatus,SpouseName,SpouseIDNum,children1,IdCardNumChildren1,children2,IdCardNumChildren2,children3,IdCardNumChildren3,children4,IdCardNumChildren4
HouseHost,,,,,,,,,,,,,,,,
黄杰远,44010619710721033X,广东省广州市,居民户口家庭户,226005027,,离异,,,,,,,,,,

In [80]:
order.loc[('JJ0134','黄杰远'),['HouseHostIDCardNum','AccountType']]

c:\users\jonescy\onedrive\文档\pycharmprojects\dataanalysis\lib\site-packages\pandas\core\indexing.py:873: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

                    HouseHostIDCardNum AccountType
HouseNum HouseHost
JJ0134   黄杰远        44010619710721033X     居民户口家庭户