In [4]:
import pandas as pd
import numpy as np
s = pd.Series([1, 2, 3],index=["a", 'b', 'c'])
s

a    1
b    2
c    3
dtype: int64

In [2]:
data = pd.DataFrame([[1,2,3],[4,5,6]], columns=['a','b','c'])
data

   a  b  c
0  1  2  3
1  4  5  6

In [1]:
csv_data = pd.read_csv('C:/Users/jonescy/OneDrive/文档/MySQL/total.csv')
csv_data
pd.rea

NameError: name 'pd' is not defined

In [10]:
series1 = pd.Series([2,8,3.01,8.99,8.59,5.18],index=['a','b','c','d','e','f'],name='jonescy')
series1

a    2.00
b    8.00
c    3.01
d    8.99
e    8.59
f    5.18
Name: jonescy, dtype: float64

In [11]:
type(series1)

pandas.core.series.Series

In [17]:
series2 = pd.Series({'北京':2.8,'上海':3.01,'广东':8.99,'江苏':8.59,'浙江':5.18})
series2

北京    2.80
上海    3.01
广东    8.99
江苏    8.59
浙江    5.18
dtype: float64

In [19]:
series2.values

array([2.8 , 3.01, 8.99, 8.59, 5.18])

In [21]:
series2.index

Index(['北京', '上海', '广东', '江苏', '浙江'], dtype='object')

In [25]:
series2.dtype

dtype('float64')

In [27]:
series2.ndim

1

In [29]:
series2[0:4]

北京    2.80
上海    3.01
广东    8.99
江苏    8.59
dtype: float64

In [32]:
series2['北京':'广东']

北京    2.80
上海    3.01
广东    8.99
dtype: float64

In [35]:
series3 = pd.Series({'四川':3.80,'重庆':2.01})
series3

四川    3.80
重庆    2.01
dtype: float64

In [41]:
series4 =series2.append(series3)
series4

In [40]:
series2['北京'] = 2.89
series2

北京    2.89
上海    3.01
广东    8.99
江苏    8.59
浙江    5.18
dtype: float64

In [47]:
series4.drop(['四川','浙江'],inplace=True)

In [49]:
series4

北京    2.89
上海    3.01
广东    8.99
江苏    8.59
重庆    2.01
dtype: float64

In [51]:
list1 = [['张三',23,'男'],['李四',24,'女'],['王二',25,'女']]
list1

[['张三', 23, '男'], ['李四', 24, '女'], ['王二', 25, '女']]

In [54]:
df1 = pd.DataFrame(list1,columns=['姓名','年龄','性别'])
df1

   姓名  年龄 性别
0  张三  23  男
1  李四  24  女
2  王二  25  女

In [57]:
df2 = pd.DataFrame({'姓名':['张三','李四','王二'],'年龄':[23,24,25],'性别':['男','女','女']})
df2

   姓名  年龄 性别
0  张三  23  男
1  李四  24  女
2  王二  25  女

In [59]:
arr = np.array([['张三',23,'男'],['李四',24,'女'],['王二',25,'女']])
arr

array([['张三', '23', '男'],
       ['李四', '24', '女'],
       ['王二', '25', '女']], dtype='<U2')

In [62]:
df3 = pd.DataFrame(arr,columns=['姓名','年龄','性别'],index=['a','b','c'])
df3

   姓名  年龄 性别
a  张三  23  男
b  李四  24  女
c  王二  25  女

In [64]:
df2.values

array([['张三', 23, '男'],
       ['李四', 24, '女'],
       ['王二', 25, '女']], dtype=object)

In [67]:
df2.shape

(3, 3)

In [83]:
df2.index.tolist()

[0, 1, 2]

In [74]:
df2.dtypes

姓名    object
年龄     int64
性别    object
dtype: object

In [78]:
df2.columns.tolist()

['姓名', '年龄', '性别']

In [80]:
df2.ndim

2

In [82]:
df2.size

9

In [85]:
import os
import pandas as pd

In [87]:
os.getcwd()

'C:\\Users\\jonescy\\OneDrive\\文档\\PycharmProjects\\DataAnalysis\\Libary\\pandas'

In [89]:
os.chdir('C:/Users/jonescy/OneDrive/文档/PycharmProjects/DataAnalysis/')

In [93]:
df4 = pd.read_csv('./Libary/numpy/test.csv',encoding='utf-8')
df4

,book_name,book_url,book_author,book_introduction
0,Modern C++ for Absolute Beginners,http://www.allitebooks.org/modern-c-for-absolu...,Slobodan Dmitrović,Learn the C++ programming language in a struct...
1,Microservices Security in Action,http://www.allitebooks.org/microservices-secur...,Prabath Siriwardena,After a straightforward introduction to the ch...
2,Practical User Research,http://www.allitebooks.org/practical-user-rese...,Emmanuelle Savarit,Explore how User Research has been influenced ...
3,"Beginning Data Science, IoT, and AI on Single ...",http://www.allitebooks.org/beginning-data-scie...,Philip Meitiner,Learn to use technology to undertake data scie...
4,Genetic Algorithms in Java Basics,http://www.allitebooks.org/genetic-algorithms-...,Pradeeka Seneviratne,Genetic Algorithms in Java Basics is a brief i...
...,...,...,...,...
8585,Expert Oracle RAC Performance Diagnostics and ...,http://www.allitebooks.org/expert-oracle-rac-p...,Brian Ward,Expert Oracle RAC Performance Diagnostics and ...
8586,"Expert Oracle Database Architecture, 3rd Edition",http://www.allitebooks.org/expert-oracle-datab...,Murali Vallath,"Now in its third edition, this best-selling bo..."
8587,"Beginning Oracle SQL, 3rd Edition",http://www.allitebooks.org/beginning-oracle-sq...,Darl Kuhn,Beginning Oracle SQL is your introduction to t...
8588,Pro Grunt.js,http://www.allitebooks.org/pro-grunt-js/,Thomas Kyte,Pro Grunt.js gets you quickly up-to-speed with...
8589,Beginning Amazon Web Services with Node.js,http://www.allitebooks.org/beginning-amazon-we...,Inger Jorgensen,Beginning Amazon Web Services with Node.js tea...

In [95]:
df4.head(5)

,book_name,book_url,book_author,book_introduction
0,Modern C++ for Absolute Beginners,http://www.allitebooks.org/modern-c-for-absolu...,Slobodan Dmitrović,Learn the C++ programming language in a struct...
1,Microservices Security in Action,http://www.allitebooks.org/microservices-secur...,Prabath Siriwardena,After a straightforward introduction to the ch...
2,Practical User Research,http://www.allitebooks.org/practical-user-rese...,Emmanuelle Savarit,Explore how User Research has been influenced ...
3,"Beginning Data Science, IoT, and AI on Single ...",http://www.allitebooks.org/beginning-data-scie...,Philip Meitiner,Learn to use technology to undertake data scie...
4,Genetic Algorithms in Java Basics,http://www.allitebooks.org/genetic-algorithms-...,Pradeeka Seneviratne,Genetic Algorithms in Java Basics is a brief i...

In [97]:
df4.tail(5)

,book_name,book_url,book_author,book_introduction
8585,Expert Oracle RAC Performance Diagnostics and ...,http://www.allitebooks.org/expert-oracle-rac-p...,Brian Ward,Expert Oracle RAC Performance Diagnostics and ...
8586,"Expert Oracle Database Architecture, 3rd Edition",http://www.allitebooks.org/expert-oracle-datab...,Murali Vallath,"Now in its third edition, this best-selling bo..."
8587,"Beginning Oracle SQL, 3rd Edition",http://www.allitebooks.org/beginning-oracle-sq...,Darl Kuhn,Beginning Oracle SQL is your introduction to t...
8588,Pro Grunt.js,http://www.allitebooks.org/pro-grunt-js/,Thomas Kyte,Pro Grunt.js gets you quickly up-to-speed with...
8589,Beginning Amazon Web Services with Node.js,http://www.allitebooks.org/beginning-amazon-we...,Inger Jorgensen,Beginning Amazon Web Services with Node.js tea...

In [99]:
df4.dtypes

book_name            object
book_url             object
book_author          object
book_introduction    object
dtype: object

In [100]:
pd.__version__

'1.1.2'