In [3]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv(r'c:/users/jonescy/Downloads/WHO-COVID-19-global-data.csv')
df.head(5)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-02-24,AF,Afghanistan,EMRO,5,5,0,0
1,2020-02-25,AF,Afghanistan,EMRO,0,5,0,0
2,2020-02-26,AF,Afghanistan,EMRO,0,5,0,0
3,2020-02-27,AF,Afghanistan,EMRO,0,5,0,0
4,2020-02-28,AF,Afghanistan,EMRO,0,5,0,0

In [15]:
pd.pivot_table(data=df,index=['Date_reported','Country'],aggfunc=np.sort)

                                                                 Country_code  \
Date_reported Country
2020-01-04    China                                                        CN
2020-01-05    China                                                        CN
2020-01-06    China                                                        CN
2020-01-07    China                                                        CN
2020-01-08    China                                                        CN
...                                                                       ...
2020-09-16    Viet Nam                                                     VN
              Yemen                                                        YE
              Zambia                                                       ZM
              Zimbabwe                                                     ZW
              occupied Palestinian territory, including east ...           PS

                                                                  Cumulative_cases  \
Date_reported Country
2020-01-04    China                                                              1
2020-01-05    China                                                              1
2020-01-06    China                                                              4
2020-01-07    China                                                              4
2020-01-08    China                                                              4
...                                                                            ...
2020-09-16    Viet Nam                                                        1063
              Yemen                                                           2020
              Zambia                                                         13819
              Zimbabwe                                                        7576
              occupied Palestinian territory, including east ...             41416

                                                                  Cumulative_deaths  \
Date_reported Country
2020-01-04    China                                                               0
2020-01-05    China                                                               0
2020-01-06    China                                                               0
2020-01-07    China                                                               0
2020-01-08    China                                                               0
...                                                                             ...
2020-09-16    Viet Nam                                                           35
              Yemen                                                             584
              Zambia                                                            324
              Zimbabwe                                                          224
              occupied Palestinian territory, including east ...                261

                                                                  New_cases  \
Date_reported Country
2020-01-04    China                                                       1
2020-01-05    China                                                       0
2020-01-06    China                                                       3
2020-01-07    China                                                       0
2020-01-08    China                                                       0
...                                                                     ...
2020-09-16    Viet Nam                                                    0
              Yemen                                                       3
              Zambia                                                     99
              Zimbabwe                                                   45
              occupied Palestinian territory, including east ...       1118

                                                                  New_deaths  \
Date_reported Country
2020-01-04    China                                                        0
2020-01-05    China                                                        0
2020-01-06    China                                                        0
2020-01-07    China                                                        0
2020-01-08    China                                                        0
...                                                                      ...
2020-09-16    Viet Nam                                                     0
              Yemen                                                        0
              Zambia                                                       4
              Zimbabwe                                                     0
              occupied Palestinian territory, including east ...           6

                                                                 WHO_region
Date_reported Country
2020-01-04    China                                                    WPRO
2020-01-05    China                                                    WPRO
2020-01-06    China                                                    WPRO
2020-01-07    China                                                    WPRO
2020-01-08    China                                                    WPRO
...                                                                     ...
2020-09-16    Viet Nam                                                 WPRO
              Yemen                                                    EMRO
              Zambia                                                   AFRO
              Zimbabwe                                                 AFRO
              occupied Palestinian territory, including east ...       EMRO

[42025 rows x 6 columns]

In [18]:
pd.crosstab(index=df['Date_reported'],columns=df['Country'])

Country,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United States Virgin Islands,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe,"occupied Palestinian territory, including east Jerusalem"
Date_reported,,,,,,,,,,,,,,,,,,,,,
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-12,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2020-09-13,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2020-09-14,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2020-09-15,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2020-09-16,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [27]:
df.dtypes

Date_reported        datetime64[ns]
Country_code                 object
Country                      object
WHO_region                   object
New_cases                     int64
Cumulative_cases              int64
New_deaths                    int64
Cumulative_deaths             int64
dtype: object

In [28]:
df['Date_reported'] = pd.to_datetime(df['Date_reported'],format='%Y-%m-%d',errors='coerce')

In [34]:
df.describe(include='all')

c:\users\jonescy\onedrive\文档\pycharmprojects\dataanalysis\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
count,42025,41838,42025,42025,42025.000000,4.202500e+04,42025.000000,42025.000000
unique,257,215,216,7,NaN,NaN,NaN,NaN
top,2020-07-20 00:00:00,CN,China,EURO,NaN,NaN,NaN,NaN
freq,216,257,257,12251,NaN,NaN,NaN,NaN
first,2020-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2020-09-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,700.635289,4.673796e+04,22.161118,1965.295491
std,NaN,NaN,NaN,NaN,4303.159402,2.907533e+05,129.145662,10479.505804
min,NaN,NaN,NaN,NaN,-8261.000000,1.000000e+00,-514.000000,0.000000
25%,NaN,NaN,NaN,NaN,0.000000,8.400000e+01,0.000000,1.000000
50%,NaN,NaN,NaN,NaN,11.000000,1.047000e+03,0.000000,20.000000
75%,NaN,NaN,NaN,NaN,156.000000,1.005300e+04,3.000000,215.000000
max,NaN,NaN,NaN,NaN,97570.000000,6.496246e+06,6409.000000,193494.000000

In [43]:
dtime = pd.datetime.today() - df['Date_reported']

c:\users\jonescy\onedrive\文档\pycharmprojects\dataanalysis\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

In [54]:
dtime/np.timedelta64(365,'D')

0        0.566605
1        0.563865
2        0.561125
3        0.558386
4        0.555646
           ...
42020    0.015920
42021    0.013180
42022    0.010440
42023    0.007701
42024    0.004961
Name: Date_reported, Length: 42025, dtype: float64

In [56]:
dtime

0       206 days 19:27:28.550335
1       205 days 19:27:28.550335
2       204 days 19:27:28.550335
3       203 days 19:27:28.550335
4       202 days 19:27:28.550335
                  ...
42020     5 days 19:27:28.550335
42021     4 days 19:27:28.550335
42022     3 days 19:27:28.550335
42023     2 days 19:27:28.550335
42024     1 days 19:27:28.550335
Name: Date_reported, Length: 42025, dtype: timedelta64[ns]

In [57]:
df.shift()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
31423,2020-06-26,KR,Republic of Korea,WPRO,39,12602,0,282

In [58]:
df.drop_duplicates()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-02-24,AF,Afghanistan,EMRO,5,5,0,0
1,2020-02-25,AF,Afghanistan,EMRO,0,5,0,0
2,2020-02-26,AF,Afghanistan,EMRO,0,5,0,0
3,2020-02-27,AF,Afghanistan,EMRO,0,5,0,0
4,2020-02-28,AF,Afghanistan,EMRO,0,5,0,0
...,...,...,...,...,...,...,...,...
42020,2020-09-12,ZW,Zimbabwe,AFRO,26,7479,2,224
42021,2020-09-13,ZW,Zimbabwe,AFRO,29,7508,0,224
42022,2020-09-14,ZW,Zimbabwe,AFRO,18,7526,0,224
42023,2020-09-15,ZW,Zimbabwe,AFRO,5,7531,0,224
42024,2020-09-16,ZW,Zimbabwe,AFRO,45,7576,0,224

In [64]:
np.sum(df.isnull(),axis=0)

Date_reported          0
Country_code         187
Country                0
WHO_region             0
New_cases              0
Cumulative_cases       0
New_deaths             0
Cumulative_deaths      0
dtype: int64

In [66]:
df.apply(lambda x:sum(x.isnull())/len(x),axis=0)

Date_reported        0.00000
Country_code         0.00445
Country              0.00000
WHO_region           0.00000
New_cases            0.00000
Cumulative_cases     0.00000
New_deaths           0.00000
Cumulative_deaths    0.00000
dtype: float64

In [76]:
df.dropna(how='all',axis=0)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-02-24,AF,Afghanistan,EMRO,5,5,0,0
1,2020-02-25,AF,Afghanistan,EMRO,0,5,0,0
2,2020-02-26,AF,Afghanistan,EMRO,0,5,0,0
3,2020-02-27,AF,Afghanistan,EMRO,0,5,0,0
4,2020-02-28,AF,Afghanistan,EMRO,0,5,0,0
...,...,...,...,...,...,...,...,...
42020,2020-09-12,ZW,Zimbabwe,AFRO,26,7479,2,224
42021,2020-09-13,ZW,Zimbabwe,AFRO,29,7508,0,224
42022,2020-09-14,ZW,Zimbabwe,AFRO,18,7526,0,224
42023,2020-09-15,ZW,Zimbabwe,AFRO,5,7531,0,224
42024,2020-09-16,ZW,Zimbabwe,AFRO,45,7576,0,224

In [82]:
df2 = pd.read_csv(r'c:/users/jonescy/Downloads/united_states_covid19_cases_and_deaths_by_state.csv',header=2)
df2.count()

State/Territory          61
Total Cases              61
Confirmed Cases          31
Probable Cases           31
Cases in Last 7 Days     61
Case Rate per 100000     61
Total Deaths             61
Confirmed Deaths         31
Probable Deaths          31
Death Rate per 100000    61
dtype: int64

In [88]:
df2['Confirmed Cases'].fillna(df2['Confirmed Cases'].median())

0       59511.0
1      126813.0
2       59511.0
3       59511.0
4      207220.0
        ...
56      59511.0
57      91304.0
58      12672.0
59       3762.0
60    2419736.0
Name: Confirmed Cases, Length: 61, dtype: float64